.Text1{
  color: Red;
}

.Text2{
  font-size: 20px;
}

.Text3{
  font-family: sans-serif;
}

.Text4{
  text-transform: uppercase;
}

#right-side{
  float: right;
  position: relative;
}

h2,h3{
  color: Green;
}

.marked p{
  color: Blue;
}
