.Text1{
  color: Red;
}

.Text2{
  font-size: 20px;
}

.Text3{
  font-family: sans-serif;
}

.Text4{
  text-transform: uppercase;
}

#right-side{
  float: right;
  position: relative;
}

h2,h3{
  color: Green;
}

.marked p{
  color: Blue;
}

#footer{
  float: center;
  text-align:center;
  margin: 15px;
  border: 3px dashed black;
  background-color: green;
  padding: 10px;
}
